<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> El Recomendador </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/maestro.png')}}"/>
</head>

<body>
	<header>
		<h1> El Recomendador </h1>
		<a href="/iniciar_sesion" class=""> Registrarte / Iniciar Sesión </a>
	</header>

    <center>
        <div class="centro">
            <img src="{{url_for('static',filename='imagenes/maestro.png')}}" height="250px">
            <form class="Buscar" method="post">
                <input type="search" name="busqueda_input" placeholder="Ingresa el curso o profesor a buscar"/>
        </div>
                <input type="submit" name="boton_buscar" value="Buscar"/>
            </form>
            <a href="/"><button class="boton_agregar"> Agregar </button></a>
    </center>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
        <center><p class="flash">{{msg}}</p></center>
    {% endfor %}
    {% endif %}
    {% endwith %}

</body>
</html>