* {
 	font-family: 'Raleway', sans-serif;
 	box-sizing: border-box;
 	text-decoration: none;
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 }

 body {
 	background: #212121;
 }

 header {
 	display: flex;
 	justify-content: space-between;
 	height: 80px;
 	align-items: center;
 	padding: 0rem 3.5rem;
 	color: #e2c26d;
 	width: 100%;
 	background: #323232;
 }

 header h1 {
 	font-size: 3rem;
 	float: left;
 	display: inline-block;
 	font-family: arial nova;
 } 

header a {
	color: #e2c26d;
	font-size: 1.8rem;
	display: inline-block;
	float: right;
	font-family: arial nova;
}

header a:hover {
	color: #f9ead0;
	cursor: pointer;
}

.formulario h2 {
  font-size: 2.5rem;
  color: #5aab89;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-family: arial nova;
 }

.formulario {
	width: 600px;
	height: 580px;
	padding: 1em;
	margin: 0 auto;
	border-radius: 20px;
	border: solid;
  border-color: #5aab89;
  border-width: 2px;
  margin-top: 3rem;
}

.formulario input {
	height: 50px;
	background: #f4f5f9;
	border-left: #5aab89 10px solid;
	font-size: 1.25rem;
	border-radius: 10px;
	color: #282828;
	width: 80%;
	margin-bottom: 2rem;
	text-indent: 7px;
}

::placeholder {
	color: grey;
	font-size: 1.25rem;
}

.formulario input[type=submit] {
	width: 200px;
	height: 50px;
	font-size: 1.25rem;
	background-color: #5aab89; 
	color: white;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #6d9886;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.formulario input[type=submit]:hover {
	background-color: #555555;
    color: white;
    border: 2px solid #555555;
    cursor: pointer;
} 

.formulario p {
	color: #f4f5f9;
	font-size: 13px
}

div.crear_cuenta {
	text-align: center;
	width: 400px;
	padding: 1em;
	margin: 0 auto;
	color: #f4f5f9;
}

div.crear_cuenta button {
	width: 160px;
	height: 30px;
	font-size: 1rem;
	background-color: #5aab89; 
	color: white;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #6d9886;
    border-radius: 8px;
    margin-top: 1rem;
}

div.crear_cuenta button:hover {
	background-color: #555555;
    color: white;
    border: 2px solid #555555;
    cursor: pointer;
}

.flash {
	color: red;
	font-size: 1.5rem;
	margin-top: 3rem;
}