<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> El Recomendador </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='agregar_profesor.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/maestro.png')}}"/>
</head>

<body>
	<header>
		<a href="/"><h1> El Recomendador </h1></a>
		<a href="/iniciar_sesion" class=""> {{usuario}} </a>
	</header>

    <center>
        <div class="centro">
            <img src="{{url_for('static',filename='imagenes/agregar.png')}}" height="180px">
            <form class="Buscar" method="post">
                <input type="search" name="agregar_input" placeholder="Ingresa el nombre completo del profesor (iniciando por nombres)"/>
        </div>
                <input type="submit" name="boton_agregar" value="Agregar"/>
            </form>
    </center>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
        <center><p class="flash">{{msg}}</p></center>
    {% endfor %}
    {% endif %}
    {% endwith %}

</body>
</html>