<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Crear Cuenta </title>
	<link rel="stylesheet" href="{{url_for('static',filename='crear_cuenta.css')}}">
	<link rel="icon" href="{{url_for('static', filename='imagenes/maestro.png')}}"/>
</head>
<body>
	<header>
		<a href="/"><h1> El Recomendador </h1></a>
	</header>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for msg in messages %}
			<center><p class="flash">{{msg}}</p></center>
		{% endfor %}
		{% endif %}
		{% endwith %}

	<form class="formulario" method="post">
		<center><h2>Crea tu cuenta</h2>
		<input name="usuario" placeholder="Nombre de usuario">
		<input name="correo" placeholder="Correo Electrónico">
		<input type="password" name="password" placeholder="Contraseña">
		<input type="password" name="confirmar_password" placeholder="Confirma tu contraseña">
		<input type="submit" name="boton_continuar" value="Crear">
		
		<p><strong>Al continuar, aceptas nuestros términos y condiciones de uso en nuestra página.</strong></p></center>
	</form>
	<div class="crear_cuenta">
		<p>
			¿Ya tienes cuenta?
		</p>
		<a href="javascript: history.go(-1)"><button>Inicia Sesión</button></a>
	</div>

</body>
</html>